body {
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat';
}

.image img{
    width: 100%;
}

#subcategory{
    text-align: center;
    font-weight: bold;
}

.statewide-info{
    justify-content: center;
}

.dropdown{
    text-align: center;
}

.HIstate{
    text-align: center; 
    padding-top: 30px; 
}